@use 'abastracts/' as *;
@use 'components/container' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: $backGround;
    font-size: 12px;
}

img {
    max-width: 100%;
    display: block;
}







