@use '../abstracts/' as *;

// font-family: 'Fraunces', serif;
// font-family: 'Montserrat', sans-serif;

// - Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
// - Weights: 500, 700

// - Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
// - Weights: 700
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    width: 500px;    
    margin: 0 auto;
    background-color: $container;
    border-radius: 1em;
    overflow: hidden;
}

.card {
    display: flex;
}
.text{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 1em 2em;
    justify-content: space-between;

    &__paragraph-perfume {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.7rem;
        color: $paragraphs;
        margin: 1em 0 0.3em 0;
        text-align: justify;
    }

    &__main {
        padding-right: 1em;
        font-family: 'Fraunces', serif;
        font-size: 24px;
        font-weight: 700;
        width: auto;
        margin: 0.5em 0;
    }

    &__paragraph-description {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        margin: 0.5em 0;
        line-height: 1.5em;
        color: $paragraphs;
        margin-bottom: 1em;
    }
}

.image{
    width: 50%;
    background-image: url(/images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.price {
    
    display: flex;
    justify-content: start;
    width: 80%;
    align-items: center;
    margin: 0.5em 0;
    
    span{
        font-family: 'Fraunces', serif;
        font-size: 2rem;
        font-weight: 700;
        color: $buttonAndValue;
    }
    span:nth-child(2){
        color: $paragraphs;
        font-size: 1rem;
        text-decoration: line-through;
        padding-left: 1.2em;
    }
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    background-color: $buttonAndValue;
    color: white;
    font-weight: 700;

    img {
        height: 12px;
        padding-right: 1em;
    }

}


.button:hover {
    cursor: pointer;
    background-color: $button-hover;
}

.attribution {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .container{
        margin: 1rem;
        max-width: 25rem;
    }

    .card{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.5fr;
        grid-template-areas: 
        "image"
        "text"
        "text"
        ;
    }

    .text{
        width: 100%;
        grid-area: text;
    }

    .image {
        width: 100%;
        height: auto;
        background-image: url(/images/image-product-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: image;
    }

}