.container {
    background-color: white;
    width: 50%;
    display: flex;
    border-radius: 2em;
    position: absolute;
    height: 50%;

    .card__image {
        position: relative;
        left: 0;
        top: 0;
    }
}